{{org_name}}<br/>
{{#house_or_street}}{{org_house}} {{org_street}}<br/>{{/house_or_street}}
{{org_city}}<br/>
{{org_postcode}}<br/>

<br/><br/>

To whom it may concern:

<br/><br/>

An individual from the transgender/nonbinary community has contacted us with regards to an incident that occurred involving one or more of your members of staff.

<br/><br/>

We would take this opportunity to advise you that trans (transgender) people are protected under the ‘Gender Reassignment’ protected characteristic within the Equality Act 2010. In addition, the Gender Recognition Act 2004 provides a legal framework for recognising and respecting transgender individuals as the gender they identify as.

<br/><br/>

In 2009, it was estimated that there were between 300,000 and 500,000 trans people in the UK, which is still a reasonably good estimate for the number at present. Based on these figures alone, it is evident that respecting this community while interacting with the public so as not to cause offense would be beneficial, to both your organisation as well as to members of the community.

<br/><br/>

In this case, a trans person has been denied equal access to facilities. This can be access to bathrooms, changing/fitting rooms or other similar facilities. It is important to note that not providing equal access to facilities is an issue of discrimination.

<br/><br/>

Please also note that it is not sufficient to require trans people to use disabled facilities when there are non-disabled facilities available to others. A trans person is permitted to use any toilets or changing rooms that are available to cis (non-trans) people who identify as the same gender. ID or proof of gender is not required for equal access. 

<br/><br/>

The Equality Act 2010 defines “discrimination” as a person being treated less favourably than another due to the presence or perceived presence of a protected characteristic - as previously mentioned, being trans is included under the “Gender Reassignment” protected characteristic in the same act.

<br/><br/>

It is fairly clear that not providing equal access to facilities on the basis of a person’s appearance or apparent gender is a form of discrimination, and we would advise you to take steps to ensure that this type of incident does not occur in the future.

<br/><br/>

We would encourage you to consider including trans people in your equality training for all employees if you have not already done so. We would also suggest that this training explicitly includes not challenging people who are attempting to access gendered facilities despite their appearance. At the end of this letter, we have included a link to a page with additional information about this issue - on this page, you will also find links to several organisations who you can contact to assist with this training.

<br/><br/>

Preferably, we would advise that gendered facilities are largely unnecessary. Many organisations are simply providing gender-neutral facilities to everyone. In most cases, this is as easy as changing the signs on your doors and training your staff - this is particularly straightforward if any existing facilities (such as toilets) are single occupancy, but it is not difficult in the case of multi-occupancy facilities either.

<br/><br/>

In addition to creating a welcoming environment for people of all genders, regardless of whether they’re trans or not, this also helps to prevent harassment of trans people by other people who may not be affiliated with your organisation, but who are present in these facilities. While this may not be your legal responsibility, this goes a long way to improving the quality of life for all trans people, which is culturally beneficial.

<br/><br/>

We appreciate your cooperation in this matter, and the time spent reading this letter. We realise that some of these issues may be hard to discuss or consider, but please believe us when we say that it is certainly time well spent. For links to any statistics used within this letter, or references for any statements made within this letter, please visit us at http://{{site_domain}}/{letter_prefix}/{{letter_type}}. This page will also contain links to pages with advice and information for preventing these situations in the future, and for looking at some of the changes suggested within this letter. If you require any further information or assistance, please feel free to contact us at {{site_email}}.

<br/><br/>

Thanks for your time and consideration,

<br/><br/>

{{site_title}}<br/>
{{site_email}}

{{#other_info}}
<br/><br/><br/>

PS - In addition, the person who asked us to send this letter on this behalf has included the following information regarding the incident:

<br/>

<i>{{other_info}}</i>
{{/other_info}}
