{{org_name}}<br/>
{{#house_or_street}}{{org_house}} {{org_street}}<br/>{{/house_or_street}}
{{org_city}}<br/>
{{org_postcode}}<br/>

<br/><br/>

To whom it may concern:

<br/><br/>

An individual from the transgender/nonbinary community has contacted us with regards to the inclusivity of your information gathering practices. Specifically that your forms and records require users to specify a gender, and the gender of the person involved is not recognised by your system.

<br/><br/>

We would take this opportunity to advise you that trans (transgender) people are protected under the ‘Gender Reassignment’ protected characteristic within the Equality Act 2010. In addition, the Gender Recognition Act 2004 provides a legal framework for recognising and respecting transgender individuals as the gender they identify as. The Data Protection Act 1998 requires that all personal information held is kept accurately and is relevant to the purpose for which it is being used.

<br/><br/>

In 2009, it was estimated that there were between 300,000 and 500,000 trans people in the UK, which is still a reasonably good estimate for the number at present. Based on these figures alone, it is evident that respecting this community while interacting with the public so as not to cause offense would be beneficial, to both your organisation as well as to members of the community.

<br/><br/>

While the public perception of gender largely views gender as a binary (male or female, man or woman), this is not actually the case. One estimate places the percentage of people within the UK who do not identify within the gender binary at 0.4%, which, based on the current population, would be approximately 252,000 people. Current record keeping practices within many organisations (including yours) erase the existence of these people by forcing them to provide inaccurate information with regard to their gender. As discussed above, any relevant personal information should be kept accurate in accordance with the Data Protection Act. Additionally, storing gender in this way reinforces the view that gender is a strict binary and is unhelpful to everyone involved.

<br/><br/>

We strongly urge you to take action to update your systems. The first question you should ask yourself is whether knowing the gender of the people you provide a service to is actually necessary. Do the people who use your service actually gain anything from it? As previously mentioned, the Data Protection Act requires that all personal information being stored is relevant. If the answer is no, then bringing your system up to date is a simple matter of removing gender from it entirely.

<br/><br/>

Even if you think you need to know gendered information, you might not. If you want to know how to refer to the people you provide a service to, you don’t actually need to know their gender at all. Just ask them what pronouns they prefer. Do they prefer “he”, “she” or a gender-neutral option such as “they”? Do they want to be called “Mr”, “Ms”, “Mrs”, “Miss”, or a gender neutral title, such as “Mx”?

<br/><br/>

If you ask these things instead of gender, the information you obtain will be more accurate, and you will be more likely to keep people happy.

<br/><br/>

If after considering all the above, you realise you still actually need to record gender, e.g. for gathering statistical information to prevent discrimination, here is some advice on how to do it in an inclusive manner.

<br/><br/>

Do not just provide two options: nonbinary people exist and pretending they don’t will not make them go away. Instead we recommend providing a list of common options (female, male, genderqueer, nonbinary) and including a write-in option for those not included by this. This way, you cover all possible situations, nonbinary and trans people will be included, and the information you obtain will accurately reflect the people it refers to. We would recommend referring to this field as ‘gender’ instead of ‘sex’, since this allows people to self-identify. Additionally, do not ask for ‘legal gender’ or ‘gender as on birth certificate/passport’, as this is generally not relevant.

<br/><br/>

We appreciate your cooperation in this matter, and the time spent reading this letter. We realise that some of these issues may be hard to discuss or consider, but please believe us when we say that it is certainly time well spent. For links to any statistics used within this letter, or references for any statements made within this letter, please visit us at http://{{site_domain}}/{{letter_prefix}}/{{letter_type}}. This page will also contain links to pages with advice and information for preventing these situations in the future, and for looking at some of the changes suggested within this letter. If you require any further information or assistance, please feel free to contact us at {{site_email}}.

<br/><br/>

Thanks for your time and consideration,

<br/><br/>

{{site_title}}<br/>
{{site_email}}

{{#other_info}}
<br/><br/>

PS - In addition, the person who asked us to send this letter on their behalf has included the following information regarding the incident:

<br/>

<i>{{other_info}}</i>
{{/other_info}}