{{org_name}}<br/>
{{#house_or_street}}{{org_house}} {{org_street}}<br/>{{/house_or_street}}
{{org_city}}<br/>
{{org_postcode}}<br/>

<br/><br/>

To whom it may concern:

<br/><br/>

An individual from the transgender/nonbinary community has contacted us with regards to an incident that occurred involving one or more of your members of staff.

<br/><br/>

We would take this opportunity to advise you that trans (transgender) people are protected under the ‘Gender Reassignment’ protected characteristic within the Equality Act 2010. In addition, the Gender Recognition Act 2004 provides a legal framework for recognising and respecting transgender individuals as the gender they identify as.

<br/><br/>

In 2009, it was estimated that there were between 300,000 and 500,000 trans people in the UK, which is still a reasonably good estimate for the number at present. Based on these figures alone, it is evident that respecting this community while interacting with the public so as not to cause offense would be beneficial, to both your organisation as well as to members of the community.

<br/><br/>

In this case, it would appear that someone has misgendered the individual in question. Misgendering is the act of referring to any person as a gender which is not correct. Examples include (but are certainly not limited to) referring to a man as a woman, referring to a woman as ‘he’ or referring to a man as ‘miss’. These are just a few examples, and is certainly not an exhaustive list, nor are the genders within the list meant to be taken as specifics either. Furthermore, misgendering can affect anyone, regardless of whether or not the individual is trans.

<br/><br/>

While misgendering can affect anyone, it has the most effect on trans people, and can contribute to, exacerbate or trigger a number of mental health issues. Trans people face misgendering on a regular basis, and while the effect of one incident may seem trivial, the overall effect of multiple incidents over a long time is much greater.

<br/><br/>

It is important to note that you cannot assume someone’s gender from their appearance. A trans person can transition from one gender to another in a variety of ways: socially, medically, surgically and others. Regardless of what types of transition a person chooses to undertake, or has access to at any given point, a trans person still has to exist within society. Furthermore, not all trans people look alike: not all cisgender (non-trans) women have long hair or wear dresses, not all trans women will either.

<br/><br/>

Furthermore, while the public perception of gender largely views gender as a binary (male or female, man or woman), this is not actually the case. One estimate places the percentage of people within the UK who do not identify within the gender binary at 0.4%, which, based on the current population, would be approximately 252,000 people. As previously mentioned, there are a variety of reasons that mean you should not assume someone’s gender based on their appearance, and the existence of nonbinary (people who identify outside the gender binary) people is another one.

<br/><br/>

Nonbinary people may wish to be referred to in a variety of different ways depending on their particular identity, and can use a variety of gender-neutral pronouns and language. For example, some nonbinary people may refer to themselves as ‘nonbinary’, while others may refer to themselves as ‘genderqueer’. Some may prefer to use singular ‘they’ pronouns, while others may wish to use gender-neutral ‘xe’ pronouns. This is not at all an exhaustive list and the language used by people is changing and adapting even now. In fact, not all people who exist outside of the gender binary necessarily include themselves under the label ‘nonbinary’, but that doesn’t mean they should be excluded from being respected as is discussed in this letter.

<br/><br/>

It’s understandable that this could seem hard to work around - how do you refer to someone without making assumptions as to what gender they are? Some people would answer that by saying that you should ask, and that is certainly one option. If you do choose to ask people their gender, you need to ensure you’re doing so in a way that allows them to answer truthfully; don’t offer them a form with limited options, or you won’t actually get the information you want.

<br/><br/>

Our advice, however, is to ask yourself why knowing and referring to someone’s gender is necessary in the first place. Why is it important to refer to someone as ‘Mister’ when you could just use their name? While we understand that ‘ma’am’ or ‘sir’ is meant to convey respect, obviously using the wrong one, or using either one for someone who doesn’t identify in that way, has the opposite effect. Surely these situations could be simply avoided by looking a bit more closely at the language you’re using and why you’re using it, and investigating other options.

<br/><br/>

We appreciate your cooperation in this matter, and the time spent reading this letter. We realise that some of these issues may be hard to discuss or consider, but please believe us when we say that it is certainly time well spent. For links to any statistics used within this letter, or references for any statements made within this letter, please visit us at http://{{site_domain}}/{{letter_prefix}}/{{letter_type}}. This page will also contain links to pages with advice and information for preventing these situations in the future, and for looking at some of the changes suggested within this letter. If you require any further information or assistance, please feel free to contact us at {{site_email}}.

<br/><br/>

Thanks for your time and consideration,

<br/><br/>

{{site_title}}<br/>
{{site_email}}

{{#other_info}}
<br/><br/><br/>

PS - In addition, the person who asked us to send this letter on their behalf has included the following information regarding the incident:

<br/>

<i>{{other_info}}</i>
{{/other_info}}