{{org_name}}<br/>
{{#house_or_street}}{{org_house}} {{org_street}}<br/>{{/house_or_street}}
{{org_city}}<br/>
{{org_postcode}}<br/>

<br/><br/>

To whom it may concern:

<br/><br/>

An individual from the transgender/nonbinary community has contacted us with regards to an incident that occurred involving one or more of your members of staff.

<br/><br/>

We would take this opportunity to advise you that trans (transgender) people are protected under the ‘Gender Reassignment’ protected characteristic within the Equality Act 2010. In addition, the Gender Recognition Act 2004 provides a legal framework for recognising and respecting transgender individuals as the gender they identify as.

<br/><br/>

In 2009, it was estimated that there were between 300,000 and 500,000 trans people in the UK, which is still a reasonably good estimate for the number at present. Based on these figures alone, it is evident that respecting this community while interacting with the public so as not to cause offense would be beneficial, to both your organisation as well as to members of the community.

<br/><br/>

In this case, the incident in question appears to be an issue of transphobia. Transphobia is any act of violence or discrimination targeting a trans person. Examples of transphobia include teasing, verbal abuse or harassment, physical abuse or harassment, or discrimination in the delivery of services. Teasing and harassment can be because of a person’s appearance, voice or any other aspects of their gender.

<br/><br/>

The Equality Act 2010 defines “discrimination” as a person being treated less favourably than another due to the presence or perceived presence of a protected characteristic - as previously mentioned, being trans is included under the “Gender Reassignment” protected characteristic in the same act.

<br/><br/>

Furthermore, the Equality Act also defines “harassment” a person engaging in unwanted conduct related to another person’s protected characteristic for the purpose of violating that person’s dignity or creating an intimidating, hostile, degrading, humiliating or offensive environment.

<br/><br/>

It is quite clear that transphobic acts are covered under either or both of these definitions. Trans people deal with discrimination and transphobic incidents on a day to day basis - this is humiliating,  depressing and can severely affect a person’s quality of life.

<br/><br/>

In general, trans people are twice as likely to be unemployed due to discrimination and mental health issues caused by transphobia, with four in ten trans people being unemployed - and even then, trans people are also more likely to be underemployed and underpaid as a result of discrimination.

<br/><br/>

With trans people experiencing small instances of transphobia on a regular basis, and often also experiencing far more severe transphobic incidents throughout their life, it’s easy to see how the mistreatment of trans people contributes to higher suicide rates, with half of young trans people attempting to end their life. We’re disappointed that your organisation has chosen to contribute to this mistreatment and low quality of life.

<br/><br/>

We would encourage you to consider including trans people in your equality training for all employees if you have not already done so. At the end of this letter, we have included a link to a page with additional information about this issue - on this page, you will also find links to several organisations who you can contact to assist with this training.

<br/><br/>

We would also encourage you have a written equality policy that is inclusive of trans people. This document should discuss what behaviour is unacceptable, as well as include a course of action for it not being followed. We’d also suggest that you publish information about your organisation’s equality policy for others to see, with contact information about who they can get in touch with should another incident like this occur in the future. 

<br/><br/>

We appreciate your cooperation in this matter, and the time spent reading this letter. We realise that some of these issues may be hard to discuss or consider, but please believe us when we say that it is certainly time well spent. For links to any statistics used within this letter, or references for any statements made within this letter, please visit us at http://{{site_domain}}/letter/{{letter_type}}. This page will also contain links to pages with advice and information for preventing these situations in the future, and for looking at some of the changes suggested within this letter. If you require any further information or assistance, please feel free to contact us at {{site_email}}.

<br/><br/>

Thanks for your time and consideration,

<br/><br/>

{{site_title}}<br/>
{{site_email}}

{{#other_info}}
<br/><br/><br/>

PS - In addition, the person who asked us to send this letter on this behalf has included the following information regarding the incident:

<br/>

<i>{{other_info}}</i>
{{/other_info}}