<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">

    <title>{{site_title}}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Cover CSS -->
    <link href="/styles/cover.css" rel="stylesheet">

     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  
  <style>
  .nav > li {
    display: inline;
  }
  .nav > li > a {
    display: inline;
  }
  ul.nav {
    padding-top: 15px;
  }

  option.default-opt {
    color: #aaa !important;
  }
  div.cover {
    padding-top: 35px;
  }
  p.lead {
    font-size: 16px;
  }
  div.alert {
    color: #333;
  }

  </style>

  </head>
 <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">{{site_title}}</h3>
              <nav>
                <ul class="nav masthead-nav">
                  {{#navigation}}
                  <li> <a href="{{url}}"> {{name}} </a> </li>
                  {{/navigation}}


                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Send a letter</h1>
            {{#error_message}}<div class="alert alert-danger">{{error_message}}</div>{{/error_message}}
            <p class="lead">Has an organisation misgendered you or been transphobic toward you? You can use this form to send them an anonymous letter explaining what they've done wrong, and how they can improve. (For the moment, this is limited to UK addresses.)</p>
            <form class="form" action="send-letter" method="POST">
              <p>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label class="sr-only" for="company_name">Organisation Name</label>
                    <input type="text" class="form-control" name="org_name" id="org_name" placeholder="Company Name (typing will search)" required="true">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-3">
                    <label class="sr-only" for="org_house">House number or name</label>
                    <input type="text" class="form-control" name="org_house" id="org_house" placeholder="House nbr/name">
                  </div>
                  <div class="form-group col-md-3">
                    <label class="sr-only" for="org_street">Street name</label>
                    <input type="text" class="form-control" name="org_street" id="org_street" placeholder="Street name">
                  </div>
                  <div class="form-group col-md-3">
                    <label class="sr-only" for="org_city">City</label>
                    <input type="text" class="form-control" name="org_city" id="org_city" placeholder="City" required="true">
                  </div>
                  <div class="form-group col-md-3">
                    <label class="sr-only" for="org_postcode">Post code</label>
                    <input type="text" class="form-control" name="org_postcode" id="org_postcode" placeholder="Postcode" required="true">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label class="sr-only" for="letter_type">Type of incident</label>
                    <select name="letter_type" id="letter_type" class="form-control" required="true">
                      <option value="" class="default-opt" selected="true">What happened?</option>
                      {{#letter_types}}
                      <option value="{{name}}">{{heading}}</option>
                      {{/letter_types}}
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label class="sr-only" for="other_info">Other optional information</label>
                    <textarea name="other_info" id="other_info" class="form-control" placeholder="(Optional) Any other information you wish to provide, this will be included as a PS in the letter. Do not use personally identifying info unless anonymity is not an issue."></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="g-recaptcha" data-sitekey="{{recaptcha_site_key}}"></div>
                  </div>
                  <div class="col-md-6">
                    <button type="submit" id="send_letter" class="btn btn-lg btn-success">Send my letter</button>
                    <br/>
                    <a href="/examples" class="btn btn-primary btn-sm">See example letters</a>
                  </div>
                </div>
              </p>
            </form>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{places_api_key}}&libraries=places"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script>
      var searchBox = document.getElementById('org_name');
      var options = {
        types: ['establishment'],
        componentRestrictions: {country: 'gb'}
      };

      autocomplete = new google.maps.places.Autocomplete(searchBox, options);
      autocomplete.addListener('place_changed', fillInForm);

      function fillInForm(){
        var place = autocomplete.getPlace();

        $('#org_house').val("");
        $('#org_street').val("");
        $('#org_city').val("");
        $('#org_postcode').val("");

        console.log(place);

        for(var count = 0; count < place.address_components.length; count++){
          var addressType = place.address_components[count].types[0];
          var formField = "";

          if(addressType == "street_number"){ formField = "org_house"; }
          if(addressType == "route"){ formField = "org_street"; }
          if(addressType == "postal_town"){ formField = "org_city"; }
          if(addressType == "postal_code"){ formField = "org_postcode"; }

          if(formField){
            $('#' + formField).val(place.address_components[count].short_name);
          }
        }

        $('#org_name').val(place.name);
      }
    </script>
  </body>
</html>
